@import url("./general/nornalize.css");
@import url("./general/base.css");
@import url("./general/fonts.css");
@import url("./general/utils.css");

@import url("./components/page-header.css");
@import url("./components/circle-btn.css");
@import url("./components/services.css");
@import url("./components/services-menu.css");
@import url("./components/logo.css");
@import url("./components/page-sidebar.css");
@import url("./components/contacts.css");
@import url("./components/dropdown-btn.css");
@import url("./components/section.css");
@import url("./components/brands.css");
