:root {
  --circle-btn-color: #ff3e79;
  --circle-btn-hover-color: #f1336d;
  --white: #ffffff;
  --text-primary-color: #1b1c21;
  --text-secondary-color: #7e7e82;
  --cyan: #41f6d7;
  --light-cyan: #b8ffec;
  --grey: #7e7e82;
  --light-grey: #eaeaea;
  --bg-color: #f8f8f8;
  --pagination-color: #dddddd;
  --pagination-active-color: #b5b6bc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.2px;
  overflow-x: hidden;
}

/* Reset */

button,
input {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

address {
  font-style: normal;
}

/* Reset end */

.wrapper {
  position: relative;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.page-main {
  display: flex;
}

.page-main__wrap {
  width: 100%;
  overflow: hidden;
}
