@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../../img/fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../../img/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../../img/fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
