.dropdown-btn {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  padding-left: 24px;
  color: var(--text-primary-color);

  &::before {
    display: inline-block;
    position: absolute;
    content: url("../img/icons/expand.svg");
    width: 24px;
    height: 24px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.5s;
  }

  &--close::before {
    transform: translateY(-50%) rotate(180deg);
  }
}
