.modal {
  position: fixed;
  top: 0;
  z-index: var(--z-modal);
  right: -600px;
  transition: 0.5s;
  height: 100%;
  visibility: hidden;
  overflow: scroll;
  @include hide-scrollbar;

  .close-btn {
    margin-left: 16px;
    margin-bottom: 40px;
  }

  &__content {
    width: 320px;
    padding: 24px 0;
    min-height: 100%;

    border-left: 1px solid var(--border-color);
    box-shadow: -3px 0 15px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
  }

  &__top,
  &__inner,
  &__bottom {
    padding: 0 16px;
  }

  &__top {
    position: relative;
    margin-bottom: 24px;

    &::before {
      position: absolute;
      content: "";
      left: -2px;
      bottom: 0;
      width: 4px;
      background-color: var(--cyan);
      border-radius: 10px;
      height: 40px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-primary-color);
    margin: 0;
    line-height: 1.33;
  }

  &__input,
  &__input-textarea {
    padding: 12px 16px;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    color: var(--text-secondary-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 16px;
    width: 100%;
  }

  &__input-textarea {
    resize: vertical;
    min-height: 118px;
  }

  &__terms {
    color: var(--text-secondary-color);
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 27px;
  }

  &__form-bottom {
    display: flex;
    justify-content: flex-end;
  }

  &--active {
    right: 0;
    visibility: visible;
  }

  @include screen-768 {
    padding-left: 90px;

    .close-btn {
      position: absolute;
      left: 0;
      top: 32px;
    }

    &__content {
      width: 440px;
      padding: 40px 0;
    }

    &__top,
    &__inner,
    &__bottom {
      padding: 0 32px;
    }
  }
}
