.circle-btn {
  background-color: var(--circle-btn-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.circle-btn:hover {
  background-color: var(--circle-btn-hover-color);
}

.circle-btn__title {
  margin-right: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  font-weight: 500;
}

.circle-btn__icon {
  width: 100%;
  height: 100%;
}
