.services-menu {
  position: relative;
  display: inline-block;
  padding-left: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.services-menu::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(to left, var(--bg-color) 30%, transparent)
    no-repeat right / cover;
}

.services-menu__list {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.services-menu__item {
  padding: 8px 16px;
  color: var(--text-secondary-color);
  border-radius: 6px;
  flex-shrink: 0;
  border: 2px solid transparent;
  cursor: pointer;
}

.services-menu__item:not(:last-child) {
  margin-right: 2px;
}

.services-menu__item:last-child {
  margin-right: 16px;
}

.services-menu__item.active,
.services-menu__item:hover {
  border: 2px solid var(--light-cyan);
  background-color: var(--white);
}

@media screen and (min-width: 768px) {
  .services-menu {
    margin-bottom: 32px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1120px) {
  .services-menu {
    margin-bottom: 12px;
    padding: 0 32px;
  }

  .services-menu__list {
    overflow: hidden;
  }

  .services-menu::after {
    background: none;
  }

  .services-menu__item {
    margin-bottom: 4px;
  }

  .services-menu__item:last-child {
    margin-right: 0;
  }

  .services-menu__list {
    flex-wrap: wrap;
  }
}
