@mixin hide-scrollbar {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
  }
}

@mixin screen-768 {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin screen-1120 {
  @media screen and (min-width: 1120px) {
    @content;
  }
}
